@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header/Footer
4. Menu
5. Home
6. Ads
7. Products
8. Ad Extra Large
9. Icon Boxes
10. News


******************************/

/***********
1. Fonts
***********/

/*********************************
2. Body and some general stuff
*********************************/
.littleAndItalic 
{
    font-size: 12px;
    font-style: italic;
}

.littleBr
{
    display: block;
   margin: -7px;
}
.nav-item
{
  color: black;
}

.content
{
  position: absolute;
  left: auto;
}

/*********************************
3. Header/Footer
*********************************/
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .b-example-divider {
    height: 2rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .header
  {
    background-color: rgba(0, 0, 0, .1);
  }

  .footer
  {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100%;
    display: block;
    background-color: rgba(0, 0, 0, .1);
  }
/*********************************
4. Menu
*********************************/

/*********************************
5. Home
*********************************/
.home
{
  background-color: rgba(0, 0, 0, .1);
}

/*********************************
6. Ads
*********************************/

/*********************************
7. Products
***


/*********************************
8. Ad Extra Large
*********************************/


/*********************************
9. Icon Boxes
*********************************/



/*********************************
10. News
*********************************/
.news
{
  position: fixed;
  width: 200px;
  right: 0;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
  background-color: grey;
}



